<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  {{- partial "head/meta.html" . -}}
</head>

<body>
  <header>
    <button class="btn" onclick="toggleDarkMode()" aria-label="Toggle dark mode">
      <span class="icon"></span>
    </button>

    {{- partial "header.html" . -}}
  </header>

  <main>
    {{- block "main" . }}{{- end }}
  </main>

  <footer>
    {{- partial "footer.html" . -}}
  </footer>

</body>
</html>
